body{
    background-color:#1D4221;
    color:white;
    font-family:"Bai Jamjuree", sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:700px;
    margin:0;
}
button{
    background-color:#64A712;
    color:white;
    font-family:"Bai Jamjuree", sans-serif;
}
.botao{
   display:block 
}
.passo{
    display:none;
}
    .passo.ativo{
        display:block;
    }
    img{
        display: block;
        }
        main{
            
        max-width:90%;
        text-align:center;
        }